.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #E1E48E; /* Lemonade yellow */
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #b1624a; /* Soft orange-pink for nav links */
    font-weight: bold; /* Make the sidenav text bold */
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  
  .sidenav a:hover {
    background-color: #ffd966; /* Pastel pink on hover */
    color: white;
    border-radius: 4px;
  }
  
  /* Ensure the content is shifted to the right to make space for the sidenav */
  .content {
    margin-left: 450px; /* Increased margin to shift content more to the right */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align content boxes to the right */
    margin-top: 50px;
    width: 80%;
  }
  
body {
    font-family: 'Lora', serif;
    background-color: #FFEFDB; 
    margin: 0;
    padding: 20px;
}

.text-box {
    background-color: #FFB6C1; /* Pastel pink background */
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #FF8C69; /* Soft orange-pink for headers */
    text-align: center;
}

nav a {
    color: #FF8C69; /* Soft orange-pink for nav links */
    margin-right: 10px;
    text-align: center;
}

img {
    border-radius: 8px;
}

