body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}
.text-box {
  background-color: #8B0000; /* Dark red color */
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

p {
    color: rgb(191, 191, 209);
    font-family: sans-serif;
    line-height: 1.25;
    

 }
 
 h1 {
  background-color: #8B0000;
  padding: 20px;
  width: 150px;
  text-align: center;

 }

 h2 {
  background-color: #0e3080;
  padding: 20px;
  width: 450px;
  text-align: center;
  margin: 0 auto; /* Centers the box */
  color: #ffffff8c;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #04AA6D;
}

#blog {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#projects {
  top: 140px;
  background-color: #f44336; /* Red */
}

#contact {
  top: 200px;
  background-color: #555 /* Light Black */
}