* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #97a8d1;
  color: #333;
  padding: 40px;
  position: relative;
  text-align: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}

header {
  text-align: center;
  padding: 40px;
  background-color: #a2b9a5;
  color: #dce1eb;
  position: sticky;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 0.5;
}

header h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;
  margin: 0;
}

.scrolling-text {
  height: 50px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
  background-color: #0e3080;
  padding: 10px;
  border: 1px solid #0e3080;
}

.scrolling-text h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  color: #541313;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  transform: translateX(100%);
  animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.topnav {
  background-color: #8B0000;
  overflow: hidden;
  position: fixed;
  width: calc(100% - 250px);
  top: 0;
  left: 250px;
  z-index: 100;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ffe082;
  color: #333;
}

.topnav a.active {
  background-color: #431515;
  color: white;
}


.sidenav a:first-child {
  font-weight: bolder;
}


.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0e3080;
  padding-top: 60px;
  z-index: 101;
  transition: all 0.3s ease;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);
}

.sidenav a {
  padding: 14px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #b1624a; /* Rich brown */
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #ffd966;
  color: white;
}

.sidenav a.active {
  background-color: #af4d4d;
  color: #fef7ec;
}


.content-wrapper {
  margin-left: 400px;
  padding: 20px;
  background-color: #97a8d1;
  max-width: 800px;
}

.box {
  background-color: #8B0000;
  color: #ead4cd;
  margin: 20px 0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 250px;
  overflow-y: auto;
}

.text-box {
  background-color: #8B0000;
  color: #ead4cd;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.carousel img,
.gallery img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tips .card {
  background-color: #ffecb3;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 40px;
}

footer {
  background-color: #ffffff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
}
