.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #E1E48E; 
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #b1624a;
  font-weight: bold; 
  display: block;
  margin: 10px 0;
  text-align: center;
}

.sidenav a:hover {
  background-color: #ffd966;
  color: white;
  border-radius: 4px;
}


.content {
  margin-left: 450px; 
  flex-direction: column;
  align-items: flex-end; 
  margin-top: 50px;
  width: 80%;
}

body {
  font-family: 'Lora', serif;
  background-color: #FFEFDB; 
  margin: 0;
  padding: 20px;
}

h1 {
  font-family: 'Notable', serif;
  color: #b1624a; 
  text-align: center;
  margin-right: 20px; 
  margin-bottom: 30px;
  position: relative;
}

.text-box {
  background-color: #ffd966; 
  color: #5f3528;
  padding: 20px;
  border-radius: 8px;
  width: 80%; 
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  right: -250px; 
}


h2 {
  font-family: 'Playfair Display', serif;
  color: #b1624a; 

nav a {
  color: #FF8C69; 
  margin-right: 10px;
  text-align: center;
}

img {
  border-radius: 8px;
  position: relative;
}

.image-right {
  margin-left: 20px;
  position: absolute;
  right: 250px; 
}

.image-left {
  margin-left: 20px;
  position: absolute;
  right: 250px; 
}


@keyframes example {
  from { background-color: #ffd966; }
  to { background-color: #E1E48E; }
}

.animated-title {
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite; 
  padding: 20px;
  color: #FF8C69;
  text-align: center;
}