body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e74c3c; 
    color: white;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E1E48E;
    padding-top: 60px;
    z-index: 101;
    transition: all 0.3s ease;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Enable flex layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }
  
  .sidenav a {
    padding: 14px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #b1624a; /* Rich brown */
    display: block;
    transition: 0.3s;
    text-align: center; /* Center text within links */
  }
  
  .sidenav a:hover {
    background-color: #ffd966;
    color: white;
  }
  
  .sidenav a.active {
    background-color: #af4d4d;
    color: #fef7ec;
  }
  
  .sidenav a:first-child {
    font-weight: bolder;
  }
  

header {
    text-align: center;
    padding: 20px;
    background-color: #c0392b; 
}

h1 {
    font-family: 'Marck Script', cursive; 
    font-size: 2.5em;
    margin: 0;
}

main {
    padding: 20px;
    margin-left: 220px; 
}

.turnip-box {
    background-color: #8e44ad; 
    border-radius: 25px; 
    padding: 20px;
    margin: 20px auto; 
    width: 70%; 
    text-align: left; 
}

.turnip-box h2 {
    font-family: 'Marck Script', cursive;
    font-size: 1.8em;
    margin-top: 0;
}

.turnip-box p,
.turnip-box ul {
    font-size: 1.2em;
}

.image-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-section img {
    width: 150px;
    height: auto;
    margin: 0 10px;
}


