body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc; /* Beige background */
  margin: 0;
  padding: 20px;
}

.text-box {
  background-color: #6F4E37; /* Coffee brown color */
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
  color: #6F4E37; /* Coffee brown for headers */
  text-align: center;
}

nav a {
  color: #6F4E37; /* Coffee brown for nav links */
  margin-right: 10px;
  text-align: center;
}

/* Sidenav styles */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #E1E48E; 
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #b1624a; 
  font-weight: bold; 
  display: block;
  margin: 10px 0;
  text-align: center;
}

.sidenav a:hover {
  background-color: #ffd966;
  color: white;
  border-radius: 4px;
}

/* Content styles */
.content {
  margin-left: 220px; /* Shift content to the right to make space for sidenav */
  padding: 20px;
}

h1 {
  background-color: #694606;
  padding: 20px;
  width: 450px;
  text-align: center;
  margin: 0 auto; /* Centers the box */
  color: rgba(255, 255, 255, 0.555);
}
